*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'B612', sans-serif;
}
.hero{
    height:80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
header{
    display: flex;
    flex-direction: column;
}
nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 12px;
    height: fit-content;
    box-shadow: 2px 3px 2px rgba(0,0,0,0.1);
}
.logo{
    color: black;
    font-size: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
nav ul li :hover{
    color: #1D4185;
    transition: 0.4s;
}
button{
    border: none;
    background: #1D4185;
    padding: 12px 20px;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    transition: 0.4s;
}
button:hover{
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}
.page{
    height: 400px;
    width: 1250px;
    padding: 20px;
    margin: 50px 50px;
    border-radius: 15px;
    display: flex;
}
.page > div{
    width: 40%;
}
image{
    width: 60%;
}
.teks1 {
    color: #1D4185;
    font-size: 32px;
    font-weight: bold;
}
.teks2{
    font-size: 20px;
}
footer > img{
    width:1100px;
    height:150px;
}
.masuk{
    height: 400px;
    width: 750px;
    background-color: white;
    margin: 35px 120px;
    border-radius: 15px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.4);
    display: flex;
    padding: 20px;
}
.container{
    display: grid;
    grid-template-columns: 460px 460px;
    justify-content: center;
    margin-top: 30px;
}
.div{
    line-height: 0.7cm;
    font-size: 18px;
}
form{
    width: 360px;
    align-items: center;
    margin-top: 12px;
    margin-left: 5px;
}
.masuk h2{
    font-size: 32px;
    text-align: center;
}
.masuk .input1 .input{
	position: relative;
    display: grid;
    grid-template-columns: 10% 93%;
    margin: 10px 0;
    padding: 10px 0;
    border: 2px solid #1D4185;
    border-radius: 12px;
}
.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}
.input{
    position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: none;
	font-size: 18px;
    outline: none;
    border: none;
    outline: none;
}
.btn{
    display: block;
	width: 40%;
	height: 50px;
	border-radius: 12px;
	outline: none;
	border: none;
	background-color: #1D4185;
	background-size: 200%;
	color: #fff;
	margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
	cursor: pointer;
	transition: .5s;
    font-size: 20px;
}
.btn:hover{
    background-color: black;
    transition: 0.4s;
    cursor: pointer;
}
a{
text-decoration: none;
color: #1D4185;
font-weight: bold;
}
.a{
text-align: center;
margin-top: 20px;
font-size: 18px;
}
span{
    color: red;
}
.container img{
    height: 428px;
    width: 430px;
    margin-top: 24px;
    margin-left: 22px;
}
.input1{
    margin-top: 10px;
}